
*{
	margin: 0; padding: 0; box-sizing: border-box;
}

.navbar{
    background:#8080008a;
    display: flex;
}
.navbar-item{
    padding:5px;
    list-style: none;

}
ul{
    list-style: none;
	text-decoration-style: none;
}
.product-img{
    width: 95%;
    height: auto;
}
.product-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.product-article{
    width: 30%;
    min-width:150px;
}